<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shikaku Game</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/JavaScript/javaScript.js"></script>
</head>
<body>
    <div class="container">
        <!-- <h2 class="">Shikaku Game</h2> -->
        <h2>Shikaku Game - Grid Size: <%= size %> x <%= size %></h2>

        <div class="inputfileds">
            <form id="sizeForm">
                <select name="size" id="gridSize" onchange="document.getElementById('sizeForm').submit();">
                    <option value="5" <%= size == 5 ? 'selected' : '' %>>5 x 5</option>
                    <option value="6" <%= size == 6 ? 'selected' : '' %>>6 x 6</option>
                    <option value="7" <%= size == 7 ? 'selected' : '' %>>7 x 7</option>
                    <option value="8" <%= size == 8 ? 'selected' : '' %>>8 x 8</option>
                    <option value="10" <%= size == 10 ? 'selected' : '' %>>10 x 10</option>
                  </select>
            </form>
    
            <button id="newGame">New Game</button>
        </div>
      
        <div id="gameMessage" class="message"></div>
        <div id="game-board" class="grid"></div>
    </div>
</body>
</html>
